:root {
    --colorPrimary: #212121;
    --colorSecondary: #181818;
    --colorWither: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background-color: var(--colorPrimary);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    top: 0;
}

.container .btn {
    border: 0;
    background-color: var(--colorPrimary);
    color: var(--colorWither);
    cursor: pointer;
}
.container .header-logo {
    flex: 1 15%;
    display: flex;
}
.container .header-logo img {
    width: 83px;
    margin-left: 10px;
}

.container .header-logo .menu {
    margin: 0 10px;
}

.container .header-center {
    display:flex;
    flex: 1 60%;
    justify-content: center;
}
.container .header-center .section {
    display: flex;
    height: 29px;
    width: 100%;
    margin-left: 30px;
}
.container .header-center .section .lupa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    background-color: #313131;
    padding: 5px 30px;
    color: #6e6e6e;
}



.container .header-center section .lupa:hover {
    color: #989898;
}




.container .header-center .section .buscador {
    width: 100%;
    background-color: #121212;
    border: 0;
    border-radius: 2px;
    outline:  1px solid #353535;
    margin-right: 1px;
    color: hsla(0, 100%, 100%, 0.88);
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    padding: 0 13px;
}

.container .header-center .section .buscador:focus {
    outline:  1px solid #1c62b9;
} 

.container .header-center .micro {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 5px 20px;
}

.container .header-center .micro:hover .aria {
    visibility: visible;
}

.container .header-end {
    display: flex;
    justify-content: flex-end;
    flex: 1 25%;
}

.container .header-end ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.container .header-end .li {
    margin: 0 15px;
}

.container .header-end .li .nav-icon{
    display: flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
}

.container .header-end .li .nav-icon:hover .aria{
    visibility: visible;
}
.container .header-end .li .user {
    width: 30px;
    border-radius: 100%;
}


.main {
    display: flex;
    flex-direction:row;
    background-color: #181818;
    height: auto;
}

.main .barra-lateral {
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 100%;
    background-color: var(--colorPrimary);
    position: fixed;
    top: 56px;
}

.main .barra-lateral .cuadro {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marin-top{
    margin-top: 4px;
}
.main .barra-lateral .cuadro:hover {
    background-color: #383838;
}

.main .barra-lateral .cuadro a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #909090;
    font-size: 18px;
}

.main .barra-lateral .cuadro .active {
    color: var(--colorWither);
}

.main .barra-lateral .cuadro .text {
    font-family: Roboto, Arial, sans-serif;
    font-size: 8px;
}

.main .main-principal {
    width: 100%;
    display: flex;
    flex-direction:column;
     
}

.main .barra-main {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    position: fixed;
    top: 56px;
    left: 72px;
    align-items:center;
    width:100%;
    height:56px;
    border-top:1px solid #343434;
    border-bottom:1px solid #343434;
    background-color:var(--colorPrimary)
}

.main .barra-main .item {
    display: flex;
    align-items: center;
    background-color: #373737;
    color: #d8d8d8;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    width: auto;
    height: 30px;
    margin: 7px;
    padding: 10px;
    border: 1px solid #414141;
    border-radius: 15px;
}

.main .barra-main .active {
    color: #575656;
    background-color: var(--colorWither);
    margin-left: 20px;
}

.main .barra-main .item:hover{
    background-color: #575656;
}

.main .barra-main .active:hover {
    background-color: rgba(222, 218, 195, 0.7);
}

.main .main-principal .barra-main {
    /* position: absolute; */
    top: 56px;
}

.main .main-principal .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    margin: 136px 5px 10px 98px;
}

.main .main-principal .main-container .item-container {
    width: 235px;
    height: auto;
    margin-right: 8px;
}
.main .main-principal .main-container .item-container .descripcion {
    display: flex;
    flex-direction: row;
    margin: 7px 2px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
}

.main .main-principal .main-container .item-container .descripcion img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-right: 10px;
}

.aria {
    visibility: hidden;
    display: block;
    padding: 7px 10px;
    background-color: #687980;
    color: #fff;
    position: absolute;
    top: 200;
    margin-top: 180px;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 2px;
}

.container .header-center .section .lupa:hover .aria {
    visibility: visible;
}

@media (max-width: 650px){
    .container .header-center .section {
        display:none;
    }
    .container .header-center {
        justify-content: flex-end;
    }
}

@media (max-width: 450px){
    .main .barra-lateral {
        display:none;
    }
    .main-principal, .barra-main {
        margin-left: -72px;
    }
    .item-container {
        width: 300px;
    }
    iframe {
        width: 267px;
        height: 150px;
    }
}